@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


body {
    height: 100vh;
    width: 100vw;
    /*Utilizar 100% da tela*/
    box-sizing: border-box;
    /* Evita que a imagem saia da tela*/
    background-color: black;
    color: #F6F6F6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 20%;
}

.apresentacao__conteudo {
    width: 615px;
    height: 482;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.apresentacao__imagem {
    width: 488;
    height: 550;
    align-items: left;
}


.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    color: #000000;
    background-color: #22D4FD;
    border-radius: 16px;
    width: 280px;
    height: 79px;
    text-align: center;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.icon {
    width: 20px;
    height: 20px;
}

span {
    color: #22D4FD;
    border: 3px solid #22D4FD;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}

p {
    color: #F6F6F6;
}

.center {
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, #22d3ee, #0ea5e9, #3b82f6);
    border-radius: 2px;
}

a {
    color: DodgerBlue;
}
